body{
    background-color: black;
}

img{
    border:5px solid white;
}

#tudo{
    margin: 50px;
    color: white;
    text-align: center;
    width: 100%;
    font-family: "Libre Baskerville", serif;
}
h1{
    text-transform: uppercase;
}